* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: lightsalmon;
}

.container {
  margin: auto;
  width: fit-content;
}

.sudoku {
  padding: 10px;
  box-shadow: 20px 20px #66696977;
  background: wheat;
  border: 2px solid rgb(2, 2, 2);
}

.row {
  display: flex;
  width: fit-content;

  --col-dimension: 50px;
  --border: 4px solid #000;
}

.col {
  height: var(--col-dimension);
  width: var(--col-dimension);
  line-height: var(--col-dimension);
  border: 1px solid #00000093;
  font-size: 20px;
  transition: all 300ms;
  text-align: center;
  color: #111111;
}

.col:nth-child(3n) {
  border-right: var(--border);
}

.col:first-child {
  border-left: var(--border);
}

.row:nth-child(3n) {
  border-bottom: var(--border);
}

.row:first-child {
  border-top: var(--border);
}

input[type="range"] {
  display: block;
  width: 100%;
  color: red;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: lightcoral;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: wheat;
  border-radius: 20px;
  box-shadow: 0 0 0 4px black;
}

.range {
  background: wheat;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  box-shadow: 3px 3px #6669697a;
}

@media (max-width: 500px) {
  .row {
    --col-dimension: 35px;
  }
}
